<div class="contact-form-holder">
  <div class="container">
    <div class="header-section-holder">
      <div class="header-section-holder__empty-part"></div>
      <div class="header-section-holder__header-part">
        <h1 class="header-section-holder__header">Você possui uma obra e gostaria de adiciona-la a nosso acervo?</h1>
      </div>
    </div>
    <div class="form-holder">
      <div class="form-holder__empty-part"></div>
      <form class="form">
        <h4 class="form__header">Informe seus dados e um de nossos consultores entrará em contato</h4>
          <div class="form-input-holder">
            <div class="input-holder">
                <mat-form-field>
                  <input matInput class="form__input" type="text" placeholder="Nome" color="#fff">
                </mat-form-field>
                <mat-form-field>
                  <input matInput class="form__input" type="email" placeholder="Email">
                </mat-form-field>
                <mat-form-field>
                  <input matInput class="form__input" type="text" placeholder="DDD + telefon">
                </mat-form-field>
            </div>
            <textarea class="form__textarea" placeholder="Descreva sua obra"></textarea>
          </div>
        <button class="form__button">Solicitar atendimento</button>
      </form>
    </div>
    <div class="logo-holder">
      <div class="logo-holder__empty-part"></div>
      <div class="contact-form-logo">
          <img class="contact-form-logo__img" src="assets/f_logo.png">
      </div>
    </div>
  </div>
</div>

