
    <div class="user-section">
        <div class="user-info">
            <div class="user-info__holder">
                <img class="user-info__img" src="assets/profile-foto.png">
                <div class="user-info__profile">
                    <h3 class="user-info__name">Vitor Mariano</h3>
                    <p class="user-info__desription">Investidor ou comprador de arte</p>
                    <a class="user-info__edit-link" href="#">Editar perfil</a>
                </div>
            </div>
            <div class="balance-holder">
                <div class="user-info__balance">
                    <p class="user-info__paragraph user-info__paragraph_name">Saldo disponível:</p>
                    <p class="user-info__paragraph user-info__paragraph_value">R$ 9.345,00</p>
                </div>
                <div class="user-info__balance">
                    <p class="user-info__paragraph user-info__paragraph_name">Saldo de Tolkens</p>
                    <p class="user-info__paragraph user-info__paragraph_value">78715 mym</p>
                </div>
            </div>
            <div class="user-info__button-holder">
                <button class="user-info__button">Editar carteiras</button>
            </div>
        </div>
    </div>