<div class="wallet-holder">
  <div class="container">
    <div class="header-section-holder">
      <div class="header-section-holder__empty-part"></div>
      <div class="header-section-holder__header-part">
        <div class="header-section-holder__header-button">
          <h1 class="header-section-holder__header">Carteiras</h1>
          <div class="buttons-group">
            <div class="buttons-group__button-holder">
              <button class="wallet__button">+ Nova carteira</button>
            </div>
            <div class="buttons-group__button-holder">
              <button class="wallet__button">Importar carteira</button>
            </div>
            <div class="buttons-group__button-holder">
              <button class="wallet__button wallet__button_pink">Comprar Tokens Mym</button>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="content-holder">
      <div class="content-holder__empty-part"></div>
      <div class="content-holder__content-part">
        <div class="wallet-item-holder">
          <div class="wallet-item">
            <div class="wallet-item__hash">
              <h5 class="wallet-item__header">Hash</h5>
              <p class="wallet-item__paragraph">
                rhze28fc586ef97b0f262550bf3543
              </p>
            </div>
      
            <div class="wallet-item__credit">
              <div class="wallet-item__credit-holder">
                <h5 class="wallet-item__header">Créditos</h5>
                <p class="wallet-item__paragraph">
                  1.472 mym
                </p>
              </div>
              <div class="wallet-item__credit">
                <p class="wallet-item__paragraph">
                  R$ 1,472.00
                </p>
              </div>
            </div>
            
            <div class="wallet-link-holder">
              <a class="wallet-link-hoder__link" href=""><img src="" class="walet-link-holder__image">Principal</a>
            </div>   
          </div>
        </div>
        <div class="wallet-item">
          <div class="wallet-item__hash">
            <h5 class="wallet-item__header">Hash</h5>
            <p class="wallet-item__paragraph">
              rhze28fc586ef97b0f262550bf3543
            </p>
          </div>
      
          <div class="wallet-item__credit">
            <div class="wallet-item__credit-holder">
              <h5 class="wallet-item__header">Créditos</h5>
              <p class="wallet-item__paragraph">
                1.472 mym
              </p>
            </div>
            <div class="wallet-item__credit">
              <p class="wallet-item__paragraph">
                R$ 1,472.00
              </p>
            </div>
          </div>
            
          <div class="wallet-link-holder">
            <a class="wallet-link-hoder__link" href=""><img src="" class="walet-link-holder__image">Tornar principal</a>
          </div>   
        </div>
        <div class="wallet-item">
          <div class="wallet-item__hash">
            <h5 class="wallet-item__header">Hash</h5>
            <p class="wallet-item__paragraph">
              rhze28fc586ef97b0f262550bf3543
            </p>
          </div>
      
          <div class="wallet-item__credit">
            <div class="wallet-item__credit-holder">
              <h5 class="wallet-item__header">Créditos</h5>
              <p class="wallet-item__paragraph">
                1.472 mym
              </p>
            </div>
            <div class="wallet-item__credit">
              <p class="wallet-item__paragraph">
                R$ 1,472.00
              </p>
            </div>
          </div>
            
          <div class="wallet-link-holder">
            <a class="wallet-link-hoder__link" href=""><img src="" class="walet-link-holder__image">Tornar principal</a>
          </div>   
        </div>
      </div>
    </div>
    <div class="empty-block-holder">
      <div class="empty-block-holder_small-part"></div>
      <div class="empty-block-holder_large-part"></div>
    </div>
  </div>
</div>
