<div class="notifications-holder">
  <div class="container">
    <div class="header-section-holder">
      <div class="header-section-holder__empty-part"></div>
      <div class="header-section-holder__header-part">
        <h1 class="header-section-holder__header">Notificações</h1>
      </div>
    </div>
    <div class="content-holder">
      <div class="content-holder__empty-part"></div>
      <div class="content-holder__content-part">
        <div class="notification-item">
          <div class="item-holder">
            <img class="notification-item__img" src="assets/klimt_paint.png">
            <div class="notification-item__item-desribe">
              <h4 class="notification-item__header">Tokenização encerrada</h4>
              <p class="notification-item__paragraph">
                Você possui 30 quotas desta obra e recebar o crédito em sua carteira
              </p>
            </div>
          </div>
          <div class="button-holder">
            <button class="notification-item__button">Ir para carteira</button>
          </div>
        </div>
      </div>
    </div>
    <div class="content-holder">
      <div class="content-holder__empty-part"></div>
        <div class="content-holder__content-part">
          <div class="notification-item">
            <div class="item-holder">
              <img class="notification-item__img" src="assets/klimt_paint.png">
              <div class="notification-item__item-desribe">
                <p class="notification-item__paragraph notification-item__paragraph_large-font">
                  Olá, temos uma proposta para você! 
                </p>
                <p class="notification-item__paragraph notification-item__paragraph_large-font">
                  Responda para saber sobre esta oportunidade.
                </p>
              </div>
            </div>
            <div class="button-holder">
              <button class="notification-item__button notification-item__button_pink">Responder</button>
            </div>
          </div>
        </div>
      </div>
      <div class="content-holder">
        <div class="content-holder__empty-part"></div>
          <div class="content-holder__content-part">
            <div class="notification-item">
              <div class="item-holder">
                <img class="notification-item__img" src="assets/klimt_paint.png">
                <div class="notification-item__item-desribe">
                  <h4 class="notification-item__header">Tokenização encerrada</h4>
                  <p class="notification-item__paragraph">
                    Você possui 30 quotas desta obra e recebar o crédito em sua carteira
                  </p>
                </div>
              </div>
              <div class="button-holder">
                <button class="notification-item__button">Ir para carteira</button>
              </div>
            </div>
        </div>
      </div>
      <div class="empty-block-holder">
        <div class="empty-block-holder_small-part"></div>
        <div class="empty-block-holder_large-part"></div>
      </div>
    
  </div>
</div>
