<div class="background">
  <!--header part-->
  <div class="header">
    <div class="header__logo">
      <img class="header__img" src="assets/l_logo.png">
    </div>
  </div>
  <!--side bar part-->
  <div class="holder">
    <div class="side-bar">
      <div class="side-bar__quote">
        <h2 class="side-bar__quote-header">A arte é a mentira que nos permite conhecer a verdade.</h2>
        <p class="side-bar__quote-author">Pablo Picasso</p>
      </div>
      <div class="side-bar__language-change">
        <div class="link-holder">
            <a class="side-bar__language-change-link side-bar__language-change-link_active" href="">Português </a>
            <a class="side-bar__language-change-link" href="">Inglês </a>
        </div>
      </div>
    </div>
    <!--container part-->
    <div class="container">
      <div class="container__form">
        <router-outlet>
        </router-outlet>
      </div>
      <div class="link-holder-mobile">
          <a class="side-bar__language-change-link side-bar__language-change-link_active" href="">Português </a>
          <a class="side-bar__language-change-link" href="">Inglês </a>
      </div>
    </div>
  </div>
</div>









